name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Deno environment
        uses: denolib/setup-deno@v2.3.0

      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.TOKEN }}

      - name: run script
        run: deno run --allow-net --allow-write --unstable --allow-read main.ts

      - name: commit release.json
        uses: EndBug/add-and-commit@v7.1.0
        with:
          add: "dist/release.json"
          message: "update release.json"

      - name: upload to cos
        uses: Bluefissure/tencent-cos-action@v0.1.1
        with:
          args: upload -r dist/ /
          secret_id: ${{ secrets.COS_SECRET_ID }}
          secret_key: ${{ secrets.COS_SECRET_KEY }}
          bucket: ${{ secrets.COS_BUCKET }}
          region: ap-guangzhou
          accelerate: true
